$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Abel|Cabin+Sketch|Indie+Flower|Open+Sans+Condensed:300|Playfair+Display|Quicksand');

// **********************
// SETTINGS FOR body
// **********************
body {
  height: 100%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Abel', sans-serif;
  // font-family: 'Cabin Sketch', cursive;
}

a {
  color: #111;
}

// **********************
// SETTINGS FOR welcome
// **********************
.welcome {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 500px;
}

.welcome h1 {
  font-size: 11em;
  color: #eee;
  text-shadow: 4px 4px 8px #111;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.welcome h2 {
  color: #fff;
  text-shadow: 4px 4px 8px #111;
  font-size: 4em;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 100px;
}

.slideshow {
  // position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  // padding-bottom: 500px;
}

.slideshow li {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url('../images/paris.jpg');
}
.slideshow li:nth-child(2) {
  background-image: url('../images/skate.jpg');
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url('../images/nepal.jpg');
  animation-delay: 20s;
}

.slideshow li:nth-child(4) {
  background-image: url('../images/surf.jpg');
  animation-delay: 30s;
}

.slideshow li:nth-child(5) {
  background-image: url('../images/patagonia.jpg');
  animation-delay: 40s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

// **********************
// SETTINGS FOR bucketlists
// **********************
.bucketList {
  display: none;
}

form {
  display: inline-block;
  // width: 30%;
  // height: 300px;
}

.forms {
  height: 300px;
  width: 30%;
}

.bucketList h3 {
  padding-top: 100px;
}

.bisplayedBucketlists {
  width: 30%;
}

// **********************		
// SETTINGS FOR user info
// **********************		
#change-password-form {
  margin-bottom: 20px;
}

.userInfo {
  display: none;
}

#seeInfo {
  font-size: 20px;
}

// **********************		
// SETTINGS FOR footer
// **********************
footer {
  border-top: 3px solid #666;
  background: linear-gradient(#999, #fff 10%);
  padding: 20px 0;
}

// **********************		
// SETTINGS for display bucket list styling
// **********************
.showBLButtons {
  padding-top: 50px;
}

#seeBucketlists {
  font-size: 20px;
}

#hideBucketlists {
  font-size: 20px;
}

.bldisplay {
    z-index: 1;
    padding-top: 40vh;
    text-align: left;
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  background: #fff;
  color: #000;
  display:none;
}

.bldisplay h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.bldisplay h2 {
  text-align: center;
  font-size: 3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 18px;
  padding-left: 10px;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  width: 90%;
  margin: 50px auto;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

ul {
  background-color: #f7f7f7;
}

.displayedBucketlists {
  background-color: #f7f7f7;
  margin: 0 auto;
  // width: 30%;
  display: inline;
}

#hrefToSignUp {
  padding-bottom: 100px;
}

/* **************************** */
/* STYLES FOR MAIN SECTION */
/* **************************** */
.main {
  height: 50%;
}

.content {
    padding: 50px;
}

.randomPlace {
  height: 500px;
  background-image: url(../images/nasa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 4px 4px 8px #111;
}

.randomPlace>h1 {
  padding-top: 50px;
}

/* **************************** */
/* MEDIA QUERIES */
/* **************************** */
@media only screen and (max-width: 992px) {
  .welcome h1 {
    font-size: 7em;
  }

  footer {
    padding-top: 70px;
  }

  h4 > a {
    margin: 5px;
    font-size: 12px;
  }
}